# Об'єктні файли та бібліотеки всюди (рекурсивно)
**/*.o
**/*.a
obj/

# Бінарники
endgame
endgame.exe

# Системні файли
.DS_Store
.vscode/
.idea/

# Ігноруємо конкретні результати збірки Raylib у підмодулі
resource/raylib/src/libraylib.a
resource/raylib/src/*.o